@font-face {
    font-family: "amble";
    src: url('../font/Amble-Regular.ttf');
}

$theme: #666;

* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    box-sizing: border-box;
    font-family: "amble", "Microsoft YaHei", "PingFangSC-Regular", STHeiti, Helvetica, Arial, sans-serif !important;
    -webkit-user-select: none;
}

html {
    width: 100%;
    height: 100%;
    background: none;
}

body {
    width: 100%;
    height: 100%;
    font-family: "amble", "Microsoft YaHei", "PingFangSC-Regular", STHeiti, Helvetica, Arial, sans-serif !important;
    font-size: 14px;
    color: #000;
    background: none;
    overflow-y: auto;
}

a {
    text-decoration: none;
    color: #000;

}

a img {
    border: none;
}

i, em {
    font-style: normal;
}

input {
    font-family: "amble", "Microsoft YaHei", "PingFangSC-Regular", STHeiti, Helvetica, Arial, sans-serif !important;
}

input[type="button"], input[type="submit"], input[type="reset"] {
    -webkit-appearance: none;
}

input[placeholder] {
    font-family: "amble", "Microsoft YaHei", "PingFangSC-Regular", STHeiti, Helvetica, Arial, sans-serif !important;
}

::-webkit-scrollbar {
    width: 0px;
    height: 5px;
    background-color: #f0f0f0;
}

::-webkit-scrollbar-thumb {
    background-color: #999;
}

::-webkit-scrollbar-track {
    background-color: unset;
}

::selection {
    background: #858585;
    color: #FFF;
}

::-moz-selection {
    background: #858585;
    color: #FFF;
}

.clearfix {
    zoom: 1;
    &:after {
        content: "";
        display: block;
        height: 0;
        font-size: 0;
        clear: both;
        visibility: hidden;
    }
}

.track-vertical {
    right: 0px;
    width: 0px !important;
    height: 100%;
}

.thumb-vertical {
    background: #C8C9CC;
    border-radius: 4px;
    &:hover {
        background: rgb(173, 175, 178);
    }
}

#main {
    width: 100vw;
    height: 100vh;
    background: none;
    position: relative;
    padding: 10px 25px 25px 25px;
}

#audio {
    display: none;
}

.player-wrap {
    width: 100%;
    height: 100%;
    background: #FFF;
    -webkit-app-region: drag;
    z-index: 2;
    overflow: hidden;
    box-shadow: 0px 6px 18px 0px rgba(73, 73, 73, 0.4);
    position: relative;
    .play-list-dialog{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0px;
        top: -200vh;
        z-index: 1000;
        .mask{
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.3);
            opacity: 0;
            transition: all 250ms ease-in-out;
            -webkit-app-region: no-drag;
        }
        .list-wrap{
            width: 100%;
            height: 60vh;
            position: absolute;
            left: 0px;
            bottom: -60vh;
            background: #FFF;
            transition: all 250ms ease-in-out;
            -webkit-app-region: no-drag;
        }
        .mask-active{
            opacity: 1;
        }
        .list-wrap-active{
            bottom: 0px;
        }
    }
    .play-list-dialog-active{
        top: 0px;
    }
    .fix-control {
        width: 100%;
        height: 50px;
        background: #FFF;
        position: absolute;
        bottom: 0px;
        left: 0px;
        z-index: 999;
        box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.05);
        display: none;
        .play-bar {
            width: 100%;
            height: 3px;
            background: #FFF;
            position: absolute;
            left: 0px;
            bottom: 0px;
            .curBar {
                width: 0%;
                height: 3px;
                background: $theme;
            }
        }
        .cover {
            width: 50px;
            height: 50px;
            padding: 8px;
            -webkit-app-region: no-drag;
            img {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
        .info {
            width: calc(100% - 50px - 48px - 40px);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 5px 12px 7px 4px;
            -webkit-app-region: no-drag;
            .name {
                font-size: 13px;
                color: #333;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .singer {
                font-size: 11px;
                color: #999;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        .play-icon {
            width: 48px;
            height: 48px;
            cursor: auto;
            -webkit-app-region: no-drag;
            position: relative;
            .icon{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $theme;
                font-size: 22px;
            }
            .progress{
                width: 31px;
                height: 31px;
                position: absolute;
                left: 8px;
                top: 9px;
            }
        }
        .play-list{
            width: 40px;
            padding-right: 5px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #666;
            font-size: 22px;
            cursor: pointer;
            -webkit-app-region: no-drag;
        }
    }
    .fix-control-active{
        display: flex;
    }
    .snackbar {
        max-width: 50vw;
        min-width: 30vw;
        padding: 5px 12px;
        background: rgba(0, 0, 0, .8);
        position: fixed;
        left: 50%;
        top: 50%;
        color: #FFF;
        font-size: 13px;
        line-height: 1.6;
        text-align: center;
        border-radius: 3px;
        z-index: 9999;
        transform: translate(-50%, -50%);
        word-break: break-all;
    }
    .windowsHead {
        position: absolute;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        top: 0px;
        left: 0px;
        z-index: 999;
        -webkit-app-region: drag;
        background: #FFF;
        .back {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #999;
            font-size: 20px;
            cursor: pointer;
            transition: all 250ms ease;
            -webkit-app-region: no-drag;
        }
        .dragbar {
            width: calc(100% - 50px - 100px);
            height: 100%;
            -webkit-app-region: drag;
        }
        .btns {
            display: flex;
            span {
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #999;
                font-size: 20px;
                cursor: pointer;
                transition: all 250ms ease;
                -webkit-app-region: no-drag;
                &:hover {
                    background: rgba(134, 134, 134, 0.1);
                }
            }
            .close {
                &:hover {
                    color: #FFF;
                    background: #DA3B01;
                }
            }
        }
    }
    .windowsHead-transparent {
        background: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, .0));
        .back {
            color: #FFF;
        }
        .btns {
            span {
                color: #FFF;
                &:hover {
                    background: none;
                }
            }
            .close {
                &:hover {
                    background: none;
                }
            }
        }
    }
    .play-ui-page {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0px;
        top: 100vh;
        z-index: 1000;
        background: #FFF;
        padding: 1px;
        overflow: hidden;
        transition: all 250ms ease-out;
        -webkit-user-select: none;
        .head {
            position: absolute;
            left: 0px;
            top: 15px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            height: 50px;
            align-items: center;
            z-index: 9;
            .back {
                display: flex;
                height: 50px;
                width: 50px;
                align-items: center;
                justify-content: center;
                color: #999;
                font-size: 20px;
                cursor: pointer;
                -webkit-app-region: no-drag;
            }
            .menu {
                display: flex;
                height: 50px;
                width: 50px;
                align-items: center;
                justify-content: center;
                color: #999;
                font-size: 20px;
                cursor: pointer;
                -webkit-app-region: no-drag;
            }
        }
        .cover {
            width: 32vw;
            height: 32vw;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            top: 16vh;
            transform: translateX(-50%);
            z-index: 11;
            img {
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                position: absolute;
                left: 0px;
                top: 0px;
                transform: scale(0.86);
            }
            #dotflag{
                width: 1px;
                height: 1px;
                position: absolute;
                left: 50%;
                top: 50%;
            }
            .bar-wrap{
                width: 100%;
                height: 100%;
                position: relative;
                -webkit-app-region: no-drag;
                .dot-wrap{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    transform-origin: center;
                    z-index: 12;
                    transform: rotate(0deg);
                    .dot{
                        width: 12px;
                        height: 12px;
                        background: #666;
                        border-radius: 50%;
                        position: absolute;
                        left: 50%;
                        top: 0px;
                        margin-top: 2px;
                        transform: translate(-50%, -50%);
                        cursor: pointer;
                        -webkit-app-region: no-drag;
                        &:before{
                            content: '';
                            display: block;
                            width: 20px;
                            height: 20px;
                            background: rgba(0,0,0,.14);
                            border-radius: 50%;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            opacity: 0;
                            transition: all 250ms ease;
                        }
                        &:hover{
                            &:before{
                                opacity: 1;
                            }
                        }
                    }
                }
                svg{
                    width: 100%;
                    height: 100%;
                    display: block;
                    transform-origin: center center;
                    transform: rotate(-90deg);
                    .thumb{
                    }
                    .track{

                    }
                }
            }
        }
        .wave {
            width: 100%;
            height: 100vh;
            //background: #F08F8F;
            position: absolute;
            left: 0px;
            bottom: 0px;
            canvas {
                width: 100%;
                height: 100%;
            }
        }
        .player-panel {
            width: 100%;
            height: 27vh;
            position: absolute;
            left: 0px;
            bottom: 0px;
            z-index: 9;
            background: none;
            padding: 1px 20px;
            .song-name {
                width: 100%;
                font-size: 14px;
                color: #FFF;
                display: flex;
                justify-content: center;
                min-height: 16px;
            }
            .singer {
                width: 100%;
                font-size: 10px;
                min-height: 12px;
                color: #FFF;
                display: flex;
                justify-content: center;
                margin-top: 1vh;
            }
            .time{
                width: 100%;
                font-size: 10px;
                color: #FFF;
                display: flex;
                justify-content: center;
                margin-top: 1vh;
            }
            .control {
                width: 60vw;
                margin: 2.2vh auto 0px;
                display: flex;
                height: 80px;
                align-items: center;
                justify-content: space-between;
                color: #FFF;
                .vol{
                    position: relative;
                    .vol-icon{
                        font-size: 5vw;
                        -webkit-app-region: no-drag;
                        cursor: pointer;
                    }
                    .vol-panel{
                        width: 3px;
                        height: 20vw;
                        background: rgba(255, 255, 255, .3);
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        border-radius: 1px;
                        bottom: 24px;
                        .v-bar{
                            width: 100%;
                            height: 20%;
                            border-radius: 1px;
                            background: #FFF;
                            position: absolute;
                            left: 0px;
                            bottom: 0px;
                        }
                        .dot{
                            width: 6px;
                            height: 6px;
                            background: #FFF;
                            position: absolute;
                            left: 50%;
                            bottom: 20%;
                            border-radius: 50%;
                            transform: translate(-50%, 50%);
                            cursor: pointer;
                        }
                    }
                }
                .order{
                    font-size: 5vw;
                    -webkit-app-region: no-drag;
                    cursor: pointer;
                }
                .change {
                    font-size: 6vw;
                    -webkit-app-region: no-drag;
                    cursor: pointer;
                }
                .play {
                    font-size: 10vw;
                    -webkit-app-region: no-drag;
                    cursor: pointer;
                    transition: all ease-in-out 250ms;
                }
            }
        }
    }
    .play-ui-page-show {
        top: 0px;
    }
    .home-page {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        padding-top: 50px;
        .home-tab {
            width: 100%;
            height: 32px;
            display: flex;
            justify-content: space-around;
            font-size: 14px;
            align-items: center;
            -webkit-app-region: no-drag;
            .tab {
                color: #999;
                transition: all 250ms ease;
                -webkit-app-region: no-drag;
                cursor: pointer;
                &:hover {
                    color: #333;
                }
            }
            .cur {
                color: #333;
                font-weight: bold;
            }
        }
        .home-tab-wrapper {
            width: 100%;
            height: calc(100vh - 50px - 32px);
            .swiper-wrapper {
                display: flex;
                width: 400vw;
                height: 100%;
            }
            .swiper-slide {
                width: 100vw;
                height: 100%;
            }
        }
        .recommend {
            width: 100%;
            height: 100%;
            padding: 10px 0px 18px;
            .recommoned-banner {
                width: 100%;
                padding: 5px 18px;
                display: flex;
                .cover {
                    width: 32vw;
                    height: 32vw;
                    box-shadow: 0px 6px 18px 0px rgba(73, 73, 73, 0.4);
                    position: relative;
                    .list-tag {
                        position: absolute;
                        right: 8px;
                        bottom: 8px;
                        padding: 3px 8px;
                        font-size: 11px;
                        display: flex;
                        border-radius: 2px;
                        background: rgba(0, 0, 0, .5);
                        color: #FFF;
                        em {
                            margin-right: 1px;
                            font-size: 14px;
                        }
                    }
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }
                .info {
                    width: calc(100% - 32vw);
                    padding-left: 18px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .name {
                        font-size: 3.4vw;
                        font-weight: bold;
                        line-height: 1.6;
                        max-height: 11vw;
                        overflow: hidden;
                    }
                    .desc {
                        font-size: 2.8vw;
                        color: #999;
                        line-height: 1.6;
                        height: 8.5vw;
                        overflow: hidden;
                    }
                    .play-btn {
                        width: 100px;
                        height: 8vw;
                        background: $theme;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #FFF;
                        cursor: pointer;
                        font-size: 12px;
                        -webkit-app-region: no-drag;
                        i {
                            margin-right: 5px;
                            font-size: 24px;
                        }
                    }
                }
            }
            .item-list {
                width: 100%;
                height: calc(100% - 32vw - 38px);
                overflow-y: auto;
                -webkit-app-region: no-drag;
                margin-top: 16px;
                padding-bottom: 68px;
                .album-itembox {
                    width: 100%;
                    padding: 8px 18px;
                    display: flex;
                    cursor: pointer;
                    -webkit-app-region: no-drag;
                    transition: all 250ms ease;
                    &:hover {
                        background: #F0F0F0;
                    }
                    .cover {
                        width: 68px;
                        height: 68px;
                        img {
                            display: block;
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .r {
                        width: calc(100% - 68px);
                        padding: 0px 0px 0px 12px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        .desc {
                            font-size: 14px;
                            line-height: 1.6;
                        }
                        .num {
                            font-size: 12px;
                            color: #999;
                            display: flex;
                            i {
                                margin-right: 4px;
                                align-items: center;
                            }
                        }
                    }
                }
            }
        }
        .newest {
            width: 100%;
            height: 100%;
            padding: 10px 0px 18px;
            .newest-banner {
                width: 100%;
                height: 25vh;
                overflow: hidden;
                position: relative;
                display: none;
                .bg {
                    display: block;
                    width: 100%;
                }
            }
            .item-list {
                width: 100%;
                height: 100%;
                overflow-y: auto;
                padding-bottom: 68px;
                padding-top: 10px;
                .song-itembox {
                    width: 100%;
                    padding: 8px 18px;
                    display: flex;
                    cursor: pointer;
                    -webkit-app-region: no-drag;
                    transition: all 250ms ease;
                    &:hover {
                        background: #F0F0F0;
                    }
                    .cover {
                        width: 38px;
                        height: 38px;
                        img {
                            display: block;
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .info {
                        width: calc(100% - 38px);
                        padding: 0px 0px 0px 12px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        .name {
                            font-size: 14px;
                            line-height: 1.6;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                        .singer {
                            font-size: 12px;
                            color: #999;
                            display: flex;
                            i {
                                margin-right: 4px;
                                align-items: center;
                            }
                        }
                    }
                }
            }
        }
        .album {
            width: 100%;
            height: 100%;
            padding: 10px 0px 18px;
            .item-list {
                width: 100%;
                height: 100%;
                overflow-y: auto;
                padding-bottom: 68px;
                padding-top: 10px;
                .album-itembox {
                    width: 50%;
                    padding: 8px 18px;
                    height: 48vw;
                    display: flex;
                    flex-direction: column;
                    cursor: pointer;
                    -webkit-app-region: no-drag;
                    transition: all 250ms ease;
                    float: left;
                    &:hover {
                        .cover {
                            &:before {
                                right: -24px;
                            }
                        }
                    }
                    .cover {
                        width: 30vw;
                        height: 30vw;
                        position: relative;
                        &:before {
                            content: '';
                            display: block;
                            width: 30vw;
                            height: 30vw;
                            background: #333;
                            border-radius: 50%;
                            position: absolute;
                            right: -15px;
                            top: 50%;
                            margin-top: -15vw;
                            transition: all 250ms ease-out;
                        }
                        img {
                            display: block;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            left: 0px;
                            top: 0px;
                            z-index: 9;
                            box-shadow: 0px 2px 6px 0px rgba(73, 73, 73, 0.1);
                            background: #FFF;
                        }
                    }
                    .info {
                        width: 100%;
                        padding: 10px 0px 0px;
                        .name {
                            width: 100%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            font-size: 14px;
                            line-height: 1.6;
                        }
                        .singer {
                            width: 100%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            font-size: 12px;
                            color: #999;
                            display: flex;
                            i {
                                margin-right: 4px;
                                align-items: center;
                            }
                        }
                    }
                }
            }
        }
        .mysong {
            width: 100%;
            height: 100%;
            padding: 10px 0px 18px;
            position: relative;
            .mysong-empty {
                width: 100%;
                padding: 10vh 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .loading {
                    width: 60vw;
                }
                .loading-text {
                    font-size: 12px;
                    color: #999;
                    margin-top: 8px;
                    margin-bottom: 20px;
                }
                .tip {
                    font-size: 14px;
                    font-weight: bold;
                }
                .file-btn {
                    padding: 10px 20px;
                    background: $theme;
                    color: #FFF;
                    font-size: 12px;
                    cursor: pointer;
                    -webkit-app-region: no-drag;
                    margin-top: 12px;
                }
            }
            .item-list {
                width: 100%;
                height: 100%;
                overflow-y: auto;
                padding-bottom: 68px;
                padding-top: 10px;
                .list-head{
                    width: 100%;
                    display: flex;
                    padding: 0px 18px 20px;
                    align-items: center;
                    justify-content: space-between;
                    .label{
                        font-size: 14px;
                        i{
                            color: #999;
                            font-size: 11px;
                            margin-left: 5px;
                        }
                    }
                    .adddir{
                        color: $theme;
                        margin-left: 12px;
                        -webkit-app-region: no-drag;
                        cursor: pointer;
                    }
                }
                .song-itembox {
                    width: 100%;
                    padding: 8px 18px;
                    display: flex;
                    cursor: pointer;
                    -webkit-app-region: no-drag;
                    transition: all 250ms ease;
                    &:hover {
                        background: #F0F0F0;
                    }
                    .cover {
                        width: 38px;
                        height: 38px;
                        img {
                            display: block;
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .info {
                        width: calc(100% - 38px);
                        padding: 0px 0px 0px 12px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        .name {
                            font-size: 14px;
                            line-height: 1.6;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                        .singer {
                            font-size: 12px;
                            color: #999;
                            display: flex;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            i {
                                margin-right: 4px;
                                align-items: center;
                            }
                        }
                    }
                }
            }
        }
    }
    .listDetail-page {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        .wrap {
            width: 100%;
            height: 100%;
            overflow-y: auto;
        }
        .listCoverBanner {
            width: 100%;
            height: 38vh;
            position: relative;
            .play {
                position: absolute;
                right: 0px;
                bottom: -26px;
                width: 56px;
                height: 56px;
                background: $theme;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #FFF;
                padding-left: 4px;
                font-size: 22px;
                cursor: pointer;
                -webkit-app-region: no-drag;
                z-index: 9;
            }
            .cover {
                width: 100%;
                height: 100%;
                overflow: hidden;
                img {
                    display: block;
                    width: 100%;
                    transform: scale(1.2);
                }
            }
        }
        .listInfo {
            width: 100%;
            padding: 40px 20px 30px;
            .name {
                font-size: 15px;
                font-weight: bold;
                line-height: 1.6;
            }
            .desc {
                font-size: 12px;
                color: #999;
                margin-top: 12px;
                line-height: 1.6;
                max-height: 56px;
                overflow: hidden;
            }
        }
        .song-list {
            width: 100%;
            padding-bottom: 70px;
            .song {
                width: 100%;
                padding: 0px 0px;
                display: flex;
                -webkit-app-region: no-drag;
                position: relative;
                &:before {
                    content: '\e60a';
                    font-family: iconfont;
                    position: absolute;
                    display: none;
                    justify-content: center;
                    align-items: center;
                    right: 16px;
                    top: 0px;
                    height: 100%;
                    color: $theme;
                    font-size: 26px;
                }
                &:hover {
                    background: #FCFCFC;
                    .key {
                        color: $theme;
                    }
                    &:before {
                        display: flex;
                    }
                }
                &:last-child {
                    .r {
                        border-bottom: none;
                    }
                }
                .key {
                    width: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #ECECEC;
                    font-size: 16px;
                    font-weight: bold;
                }
                .r {
                    width: calc(100% - 60px);
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    border-bottom: solid 1px #FAFAFA;
                    padding: 10px 30px 10px 0px;
                    cursor: pointer;
                    .name {
                        font-size: 14px;
                        color: #333;
                        width: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: normal;
                    }
                    .singer {
                        font-size: 12px;
                        color: #999;
                        margin-top: 4px;
                        width: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: normal;
                    }
                }
            }
        }
    }
}

.addfile-dialog{
    width: calc(100vw - 50px);
    height: calc(100vh - 35px);
    position: fixed;
    left: 25px;
    top: 10px;
    z-index: 999;
    .mask{
        width: 100%;
        height: 100%;
        background: none;
    }
    .content{
        width: 72vw;
        height: 50vh;
        background: #FFF;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0px 0px 8px rgba(0,0,0,.1);
        .head{
            width: 100%;
            height: 38px;
            display: flex;
            justify-content: space-between;
            padding: 0px 0px 0px 12px;
            align-items: center;
            label{
                color: #333;
                font-size: 12px;
            }
            span{
                display: flex;
                width: 38px;
                justify-content: center;
                align-items: center;
                color: #999;
                font-size: 20px;
                cursor: pointer;
                -webkit-app-region: no-drag;
                cursor: pointer;
            }
        }
        .list{
            width: 100%;
            height: calc(100% - 38px - 50px);
            overflow-y: auto;
            -webkit-app-region: no-drag;
            padding: 0px 20px 0px 12px;
            .row{
                width: 100%;
                display: flex;
                height: 40px;
                align-items: center;
                cursor: pointer;
                .checkbox{
                    width: 40px;
                    height: 40px;
                    color: #999;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 20px;
                }
                .checked{
                    color: $theme;
                }
                span{
                    display: block;
                    width: calc(100% - 40px);
                    height: 40px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    line-height: 40px;
                    color: #999;
                    font-size: 12px;
                }
            }
        }
        .opts{
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: flex-end;
            padding: 0px 12px;
            align-items: center;
            box-shadow: 0px -1px 5px rgba(0,0,0,.05);
            .btn{
                min-width: 20vw;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #e6e6e6;
                margin-left: 15px;
                font-size: 12px;
                padding: 0px 10px;
                -webkit-app-region: no-drag;
                cursor: pointer;
            }
            .confirm{
                background: $theme;
                color: #FFF;
            }
        }
    }
}

.progress-bar-root {
    display: block;
    vertical-align: middle;
    overflow: hidden;
    width: 100%;
    height: 4px;
    margin: 10px 0;
    .progress-bar-bar {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 100%;
    }
}

.progress-bar-item {
    background: $theme;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translateX(-4px);
    width: 4px;
    height: 4px;
    border-radius: 4px;
}

.react-uwp-progress-bar_4000-item-0 {
    animation: ProgressBar 4000ms 0ms cubic-bezier(0.25, 0.75, 0.75, 0.25) infinite normal forwards;
}

.react-uwp-progress-bar_4000-item-1 {
    animation: ProgressBar 4000ms 102.4ms cubic-bezier(0.25, 0.75, 0.75, 0.25) infinite normal forwards;
}

.react-uwp-progress-bar_4000-item-2 {
    animation: ProgressBar 4000ms 204.8ms cubic-bezier(0.25, 0.75, 0.75, 0.25) infinite normal forwards;
}

.react-uwp-progress-bar_4000-item-3 {
    animation: ProgressBar 4000ms 307.2ms cubic-bezier(0.25, 0.75, 0.75, 0.25) infinite normal forwards;
}

.react-uwp-progress-bar_4000-item-4 {
    animation: ProgressBar 4000ms 409.6ms cubic-bezier(0.25, 0.75, 0.75, 0.25) infinite normal forwards;
}

@keyframes ProgressBar {
    0% {
        transform: translateX(-4px);
    }
    15% {
        transform: translateX(-4px);
    }
    85% {
        transform: translateX(calc(100vw + 4px));
    }
    100% {
        transform: translateX(calc(100vw + 4px));
    }
}

.progress-ring-root {
    display: inline-block;
    width: 50px;
    height: 50px;
    position: relative;

}
.progress-ring-item {
    background: $theme;
    position: absolute;
    top: 0px;
    left: 25px;
    width: 5px;
    height: 5px;
    opacity: 0;
    transform-origin: 0px 25px;
    border-radius: 50%;

}

.react-uwp-progress-ring_6_5000-item-0 {
    animation: CircleLoopFade 5000ms 0ms linear infinite normal forwards;
}

.react-uwp-progress-ring_6_5000-item-1 {
    animation: CircleLoopFade 5000ms 125ms linear infinite normal forwards;
}

.react-uwp-progress-ring_6_5000-item-2 {
    animation: CircleLoopFade 5000ms 250ms linear infinite normal forwards;
}

.react-uwp-progress-ring_6_5000-item-3 {
    animation: CircleLoopFade 5000ms 375ms linear infinite normal forwards;
}

.react-uwp-progress-ring_6_5000-item-4 {
    animation: CircleLoopFade 5000ms 500ms linear infinite normal forwards;
}

.react-uwp-progress-ring_6_5000-item-5 {
    animation: CircleLoopFade 5000ms 625ms linear infinite normal forwards;
}

@keyframes CircleLoopFade {
    0% {
        transform: rotateZ(0deg);
        opacity: 1;
    }
    12.5% {
        transform: rotateZ(180deg);
        opacity: 1;
    }
    25% {
        transform: rotateZ(270deg);
        opacity: 1;
    }
    37.5% {
        transform: rotateZ(300deg);
        opacity: 1;
    }
    50% {
        transform: rotateZ(360deg);
        opacity: 1;
    }
    62.5% {
        transform: rotateZ(540deg);
        opacity: 1;
    }
    75% {
        transform: rotateZ(630deg);
        opacity: 1;
    }
    87.5% {
        transform: rotateZ(660deg);
        opacity: 1;
    }
    100% {
        transform: rotateZ(720deg);
        opacity: 1;
    }
}
.ringLoadinf-wrap{
    width: calc(100vw - 50px);
    height: calc(100vh - 35px);
    position: fixed;
    left: 25px;
    top: 10px;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-page{
    width: 100%;
    height: 100%;
    .search-area{
        width: 100%;
        height: 50px;
        display: flex;
        position: relative;
        -webkit-app-region: no-drag;
        .searchBtn{
            display: flex;
            width: 50px;
            height: 50px;
            justify-content: center;
            align-items: center;
            color: #999;
            font-size: 20px;
            cursor: pointer;
            transition: all 250ms ease;
            padding-top: 10px;
        }
        .clear{
            display: flex;
            width: 50px;
            height: 50px;
            justify-content: center;
            align-items: center;
            color: #999;
            font-size: 20px;
            cursor: pointer;
            transition: all 250ms ease;
            position: absolute;
            right: 6px;
            top: 0px;
            padding-top: 10px;
        }
        input{
            width: calc(100% - 50px - 20px);
            border: none;
            border-bottom: solid 1px #DDD;
            padding-top: 12px;
            font-size: 14px;
            outline: none;
            color: #333;
            background: none;
            &:focus{
                border-bottom: solid 2px #333;
            }
        }
        input::-webkit-input-placeholder{
            color: #EEE;
        }
    }
    .search-tab {
        width: 100%;
        display: flex;
        justify-content: space-around;
        font-size: 14px;
        align-items: center;
        -webkit-app-region: no-drag;
        padding-top: 16px;
        .tab {
            color: #999;
            transition: all 250ms ease;
            -webkit-app-region: no-drag;
            cursor: pointer;
            &:hover {
                color: #333;
            }
        }
        .cur {
            color: #333;
            font-weight: bold;
        }
    }
    .search-tab-wrapper {
        width: 100%;
        height: calc(100vh - 50px - 32px);
        .swiper-wrapper {
            display: flex;
            width: 400vw;
            height: 100%;
        }
        .swiper-slide {
            width: 100vw;
            height: 100%;
        }
    }
    .single-item {
        width: 100%;
        height: 100%;
        padding: 10px 0px 18px;
        .item-list {
            width: 100%;
            height: 100%;
            overflow-y: auto;
            padding-bottom: 68px;
            padding-top: 10px;
            .song-itembox {
                width: 100%;
                padding: 8px 18px;
                display: flex;
                cursor: pointer;
                -webkit-app-region: no-drag;
                transition: all 250ms ease;
                &:hover {
                    background: #F0F0F0;
                }
                .cover {
                    width: 38px;
                    height: 38px;
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }
                .info {
                    width: calc(100% - 38px);
                    padding: 0px 0px 0px 12px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .name {
                        font-size: 14px;
                        line-height: 1.6;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    .singer {
                        font-size: 12px;
                        color: #999;
                        display: flex;
                        i {
                            margin-right: 4px;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
    .singer-item {
        width: 100%;
        height: 100%;
        padding: 10px 0px 18px;
        .item-list {
            width: 100%;
            height: 100%;
            overflow-y: auto;
            padding-bottom: 68px;
            padding-top: 10px;
            .song-itembox {
                width: 100%;
                padding: 8px 18px;
                display: flex;
                cursor: pointer;
                -webkit-app-region: no-drag;
                transition: all 250ms ease;
                &:hover {
                    background: #F0F0F0;
                }
                .cover {
                    width: 38px;
                    height: 38px;
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }
                .info {
                    width: calc(100% - 38px);
                    padding: 0px 0px 0px 12px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .name {
                        font-size: 14px;
                        line-height: 1.6;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        i{
                            color: #C8C9CC;
                            margin-left: 5px;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
    .album {
        width: 100%;
        height: 100%;
        padding: 10px 0px 18px;
        .item-list {
            width: 100%;
            height: 100%;
            overflow-y: auto;
            padding-bottom: 68px;
            padding-top: 10px;
            .album-itembox {
                width: 50%;
                padding: 8px 18px;
                height: 48vw;
                display: flex;
                flex-direction: column;
                cursor: pointer;
                -webkit-app-region: no-drag;
                transition: all 250ms ease;
                float: left;
                &:hover {
                    .cover {
                        &:before {
                            right: -24px;
                        }
                    }
                }
                .cover {
                    width: 30vw;
                    height: 30vw;
                    position: relative;
                    &:before {
                        content: '';
                        display: block;
                        width: 30vw;
                        height: 30vw;
                        background: #333;
                        border-radius: 50%;
                        position: absolute;
                        right: -15px;
                        top: 50%;
                        margin-top: -15vw;
                        transition: all 250ms ease-out;
                    }
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        left: 0px;
                        top: 0px;
                        z-index: 9;
                        box-shadow: 0px 2px 6px 0px rgba(73, 73, 73, 0.1);
                        background: #FFF;
                    }
                }
                .info {
                    width: 100%;
                    padding: 10px 0px 0px;
                    .name {
                        width: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        font-size: 14px;
                        line-height: 1.6;
                    }
                    .singer {
                        width: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        font-size: 12px;
                        color: #999;
                        display: flex;
                        i {
                            margin-right: 4px;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
    .songlist {
        width: 100%;
        height: 100%;
        padding: 10px 0px 18px;
        .item-list {
            width: 100%;
            height: 100%;
            overflow-y: auto;
            -webkit-app-region: no-drag;
            margin-top: 16px;
            padding-bottom: 68px;
            .album-itembox {
                width: 100%;
                padding: 8px 18px;
                display: flex;
                cursor: pointer;
                -webkit-app-region: no-drag;
                transition: all 250ms ease;
                &:hover {
                    background: #F0F0F0;
                }
                .cover {
                    width: 68px;
                    height: 68px;
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }
                .r {
                    width: calc(100% - 68px);
                    padding: 0px 0px 0px 12px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .desc {
                        font-size: 14px;
                        line-height: 1.6;
                    }
                    .num {
                        font-size: 12px;
                        color: #999;
                        display: flex;
                        i {
                            margin-right: 4px;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
    .album-detail,.songlist-detail,.singerlist-detail{
        width: calc(100vw - 50px);
        height: calc(100vh - 35px);
        position: fixed;
        top: -85px;
        z-index: 998;
        background: #FFF;
    }
}