@font-face {
  font-family: "amble";
  src: url("../font/Amble-Regular.ttf"); }
* {
  padding: 0px;
  margin: 0px;
  list-style: none;
  box-sizing: border-box;
  font-family: "amble", "Microsoft YaHei", "PingFangSC-Regular", STHeiti, Helvetica, Arial, sans-serif !important;
  -webkit-user-select: none; }

html {
  width: 100%;
  height: 100%;
  background: none; }

body {
  width: 100%;
  height: 100%;
  font-family: "amble", "Microsoft YaHei", "PingFangSC-Regular", STHeiti, Helvetica, Arial, sans-serif !important;
  font-size: 14px;
  color: #000;
  background: none;
  overflow-y: auto; }

a {
  text-decoration: none;
  color: #000; }

a img {
  border: none; }

i, em {
  font-style: normal; }

input {
  font-family: "amble", "Microsoft YaHei", "PingFangSC-Regular", STHeiti, Helvetica, Arial, sans-serif !important; }

input[type="button"], input[type="submit"], input[type="reset"] {
  -webkit-appearance: none; }

input[placeholder] {
  font-family: "amble", "Microsoft YaHei", "PingFangSC-Regular", STHeiti, Helvetica, Arial, sans-serif !important; }

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
  background-color: #f0f0f0; }

::-webkit-scrollbar-thumb {
  background-color: #999; }

::-webkit-scrollbar-track {
  background-color: unset; }

::selection {
  background: #858585;
  color: #FFF; }

::-moz-selection {
  background: #858585;
  color: #FFF; }

.clearfix {
  zoom: 1; }
  .clearfix:after {
    content: "";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden; }

.track-vertical {
  right: 0px;
  width: 0px !important;
  height: 100%; }

.thumb-vertical {
  background: #C8C9CC;
  border-radius: 4px; }
  .thumb-vertical:hover {
    background: #adafb2; }

#main {
  width: 100vw;
  height: 100vh;
  background: none;
  position: relative;
  padding: 10px 25px 25px 25px; }

#audio {
  display: none; }

.player-wrap {
  width: 100%;
  height: 100%;
  background: #FFF;
  -webkit-app-region: drag;
  z-index: 2;
  overflow: hidden;
  box-shadow: 0px 6px 18px 0px rgba(73, 73, 73, 0.4);
  position: relative; }
  .player-wrap .play-list-dialog {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: -200vh;
    z-index: 1000; }
    .player-wrap .play-list-dialog .mask {
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
      opacity: 0;
      transition: all 250ms ease-in-out;
      -webkit-app-region: no-drag; }
    .player-wrap .play-list-dialog .list-wrap {
      width: 100%;
      height: 60vh;
      position: absolute;
      left: 0px;
      bottom: -60vh;
      background: #FFF;
      transition: all 250ms ease-in-out;
      -webkit-app-region: no-drag; }
    .player-wrap .play-list-dialog .mask-active {
      opacity: 1; }
    .player-wrap .play-list-dialog .list-wrap-active {
      bottom: 0px; }
  .player-wrap .play-list-dialog-active {
    top: 0px; }
  .player-wrap .fix-control {
    width: 100%;
    height: 50px;
    background: #FFF;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 999;
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.05);
    display: none; }
    .player-wrap .fix-control .play-bar {
      width: 100%;
      height: 3px;
      background: #FFF;
      position: absolute;
      left: 0px;
      bottom: 0px; }
      .player-wrap .fix-control .play-bar .curBar {
        width: 0%;
        height: 3px;
        background: #666; }
    .player-wrap .fix-control .cover {
      width: 50px;
      height: 50px;
      padding: 8px;
      -webkit-app-region: no-drag; }
      .player-wrap .fix-control .cover img {
        display: block;
        width: 100%;
        height: 100%; }
    .player-wrap .fix-control .info {
      width: calc(100% - 50px - 48px - 40px);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 5px 12px 7px 4px;
      -webkit-app-region: no-drag; }
      .player-wrap .fix-control .info .name {
        font-size: 13px;
        color: #333;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
      .player-wrap .fix-control .info .singer {
        font-size: 11px;
        color: #999;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
    .player-wrap .fix-control .play-icon {
      width: 48px;
      height: 48px;
      cursor: auto;
      -webkit-app-region: no-drag;
      position: relative; }
      .player-wrap .fix-control .play-icon .icon {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #666;
        font-size: 22px; }
      .player-wrap .fix-control .play-icon .progress {
        width: 31px;
        height: 31px;
        position: absolute;
        left: 8px;
        top: 9px; }
    .player-wrap .fix-control .play-list {
      width: 40px;
      padding-right: 5px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #666;
      font-size: 22px;
      cursor: pointer;
      -webkit-app-region: no-drag; }
  .player-wrap .fix-control-active {
    display: flex; }
  .player-wrap .snackbar {
    max-width: 50vw;
    min-width: 30vw;
    padding: 5px 12px;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    left: 50%;
    top: 50%;
    color: #FFF;
    font-size: 13px;
    line-height: 1.6;
    text-align: center;
    border-radius: 3px;
    z-index: 9999;
    transform: translate(-50%, -50%);
    word-break: break-all; }
  .player-wrap .windowsHead {
    position: absolute;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    top: 0px;
    left: 0px;
    z-index: 999;
    -webkit-app-region: drag;
    background: #FFF; }
    .player-wrap .windowsHead .back {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #999;
      font-size: 20px;
      cursor: pointer;
      transition: all 250ms ease;
      -webkit-app-region: no-drag; }
    .player-wrap .windowsHead .dragbar {
      width: calc(100% - 50px - 100px);
      height: 100%;
      -webkit-app-region: drag; }
    .player-wrap .windowsHead .btns {
      display: flex; }
      .player-wrap .windowsHead .btns span {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #999;
        font-size: 20px;
        cursor: pointer;
        transition: all 250ms ease;
        -webkit-app-region: no-drag; }
        .player-wrap .windowsHead .btns span:hover {
          background: rgba(134, 134, 134, 0.1); }
      .player-wrap .windowsHead .btns .close:hover {
        color: #FFF;
        background: #DA3B01; }
  .player-wrap .windowsHead-transparent {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }
    .player-wrap .windowsHead-transparent .back {
      color: #FFF; }
    .player-wrap .windowsHead-transparent .btns span {
      color: #FFF; }
      .player-wrap .windowsHead-transparent .btns span:hover {
        background: none; }
    .player-wrap .windowsHead-transparent .btns .close:hover {
      background: none; }
  .player-wrap .play-ui-page {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 100vh;
    z-index: 1000;
    background: #FFF;
    padding: 1px;
    overflow: hidden;
    transition: all 250ms ease-out;
    -webkit-user-select: none; }
    .player-wrap .play-ui-page .head {
      position: absolute;
      left: 0px;
      top: 15px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      height: 50px;
      align-items: center;
      z-index: 9; }
      .player-wrap .play-ui-page .head .back {
        display: flex;
        height: 50px;
        width: 50px;
        align-items: center;
        justify-content: center;
        color: #999;
        font-size: 20px;
        cursor: pointer;
        -webkit-app-region: no-drag; }
      .player-wrap .play-ui-page .head .menu {
        display: flex;
        height: 50px;
        width: 50px;
        align-items: center;
        justify-content: center;
        color: #999;
        font-size: 20px;
        cursor: pointer;
        -webkit-app-region: no-drag; }
    .player-wrap .play-ui-page .cover {
      width: 32vw;
      height: 32vw;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 16vh;
      transform: translateX(-50%);
      z-index: 11; }
      .player-wrap .play-ui-page .cover img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        position: absolute;
        left: 0px;
        top: 0px;
        transform: scale(0.86); }
      .player-wrap .play-ui-page .cover #dotflag {
        width: 1px;
        height: 1px;
        position: absolute;
        left: 50%;
        top: 50%; }
      .player-wrap .play-ui-page .cover .bar-wrap {
        width: 100%;
        height: 100%;
        position: relative;
        -webkit-app-region: no-drag; }
        .player-wrap .play-ui-page .cover .bar-wrap .dot-wrap {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0px;
          top: 0px;
          transform-origin: center;
          z-index: 12;
          transform: rotate(0deg); }
          .player-wrap .play-ui-page .cover .bar-wrap .dot-wrap .dot {
            width: 12px;
            height: 12px;
            background: #666;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            top: 0px;
            margin-top: 2px;
            transform: translate(-50%, -50%);
            cursor: pointer;
            -webkit-app-region: no-drag; }
            .player-wrap .play-ui-page .cover .bar-wrap .dot-wrap .dot:before {
              content: '';
              display: block;
              width: 20px;
              height: 20px;
              background: rgba(0, 0, 0, 0.14);
              border-radius: 50%;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              opacity: 0;
              transition: all 250ms ease; }
            .player-wrap .play-ui-page .cover .bar-wrap .dot-wrap .dot:hover:before {
              opacity: 1; }
        .player-wrap .play-ui-page .cover .bar-wrap svg {
          width: 100%;
          height: 100%;
          display: block;
          transform-origin: center center;
          transform: rotate(-90deg); }
    .player-wrap .play-ui-page .wave {
      width: 100%;
      height: 100vh;
      position: absolute;
      left: 0px;
      bottom: 0px; }
      .player-wrap .play-ui-page .wave canvas {
        width: 100%;
        height: 100%; }
    .player-wrap .play-ui-page .player-panel {
      width: 100%;
      height: 27vh;
      position: absolute;
      left: 0px;
      bottom: 0px;
      z-index: 9;
      background: none;
      padding: 1px 20px; }
      .player-wrap .play-ui-page .player-panel .song-name {
        width: 100%;
        font-size: 14px;
        color: #FFF;
        display: flex;
        justify-content: center;
        min-height: 16px; }
      .player-wrap .play-ui-page .player-panel .singer {
        width: 100%;
        font-size: 10px;
        min-height: 12px;
        color: #FFF;
        display: flex;
        justify-content: center;
        margin-top: 1vh; }
      .player-wrap .play-ui-page .player-panel .time {
        width: 100%;
        font-size: 10px;
        color: #FFF;
        display: flex;
        justify-content: center;
        margin-top: 1vh; }
      .player-wrap .play-ui-page .player-panel .control {
        width: 60vw;
        margin: 2.2vh auto 0px;
        display: flex;
        height: 80px;
        align-items: center;
        justify-content: space-between;
        color: #FFF; }
        .player-wrap .play-ui-page .player-panel .control .vol {
          position: relative; }
          .player-wrap .play-ui-page .player-panel .control .vol .vol-icon {
            font-size: 5vw;
            -webkit-app-region: no-drag;
            cursor: pointer; }
          .player-wrap .play-ui-page .player-panel .control .vol .vol-panel {
            width: 3px;
            height: 20vw;
            background: rgba(255, 255, 255, 0.3);
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 1px;
            bottom: 24px; }
            .player-wrap .play-ui-page .player-panel .control .vol .vol-panel .v-bar {
              width: 100%;
              height: 20%;
              border-radius: 1px;
              background: #FFF;
              position: absolute;
              left: 0px;
              bottom: 0px; }
            .player-wrap .play-ui-page .player-panel .control .vol .vol-panel .dot {
              width: 7px;
              height: 7px;
              background: #FFF;
              position: absolute;
              left: 50%;
              bottom: 20%;
              border-radius: 50%;
              transform: translate(-50%, 50%);
              cursor: pointer; }
        .player-wrap .play-ui-page .player-panel .control .order {
          font-size: 5vw;
          -webkit-app-region: no-drag;
          cursor: pointer; }
        .player-wrap .play-ui-page .player-panel .control .change {
          font-size: 6vw;
          -webkit-app-region: no-drag;
          cursor: pointer; }
        .player-wrap .play-ui-page .player-panel .control .play {
          font-size: 10vw;
          -webkit-app-region: no-drag;
          cursor: pointer;
          transition: all ease-in-out 250ms; }
  .player-wrap .play-ui-page-show {
    top: 0px; }
  .player-wrap .home-page {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 50px; }
    .player-wrap .home-page .home-tab {
      width: 100%;
      height: 32px;
      display: flex;
      justify-content: space-around;
      font-size: 14px;
      align-items: center;
      -webkit-app-region: no-drag; }
      .player-wrap .home-page .home-tab .tab {
        color: #999;
        transition: all 250ms ease;
        -webkit-app-region: no-drag;
        cursor: pointer; }
        .player-wrap .home-page .home-tab .tab:hover {
          color: #333; }
      .player-wrap .home-page .home-tab .cur {
        color: #333;
        font-weight: bold; }
    .player-wrap .home-page .home-tab-wrapper {
      width: 100%;
      height: calc(100vh - 50px - 32px); }
      .player-wrap .home-page .home-tab-wrapper .swiper-wrapper {
        display: flex;
        width: 400vw;
        height: 100%; }
      .player-wrap .home-page .home-tab-wrapper .swiper-slide {
        width: 100vw;
        height: 100%; }
    .player-wrap .home-page .recommend {
      width: 100%;
      height: 100%;
      padding: 10px 0px 18px; }
      .player-wrap .home-page .recommend .recommoned-banner {
        width: 100%;
        padding: 5px 18px;
        display: flex; }
        .player-wrap .home-page .recommend .recommoned-banner .cover {
          width: 32vw;
          height: 32vw;
          box-shadow: 0px 6px 18px 0px rgba(73, 73, 73, 0.4);
          position: relative; }
          .player-wrap .home-page .recommend .recommoned-banner .cover .list-tag {
            position: absolute;
            right: 8px;
            bottom: 8px;
            padding: 3px 8px;
            font-size: 11px;
            display: flex;
            border-radius: 2px;
            background: rgba(0, 0, 0, 0.5);
            color: #FFF; }
            .player-wrap .home-page .recommend .recommoned-banner .cover .list-tag em {
              margin-right: 1px;
              font-size: 14px; }
          .player-wrap .home-page .recommend .recommoned-banner .cover img {
            display: block;
            width: 100%;
            height: 100%; }
        .player-wrap .home-page .recommend .recommoned-banner .info {
          width: calc(100% - 32vw);
          padding-left: 18px;
          display: flex;
          flex-direction: column;
          justify-content: space-between; }
          .player-wrap .home-page .recommend .recommoned-banner .info .name {
            font-size: 3.4vw;
            font-weight: bold;
            line-height: 1.6;
            max-height: 11vw;
            overflow: hidden; }
          .player-wrap .home-page .recommend .recommoned-banner .info .desc {
            font-size: 2.8vw;
            color: #999;
            line-height: 1.6;
            height: 8.5vw;
            overflow: hidden; }
          .player-wrap .home-page .recommend .recommoned-banner .info .play-btn {
            width: 100px;
            height: 8vw;
            background: #666;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #FFF;
            cursor: pointer;
            font-size: 12px;
            -webkit-app-region: no-drag; }
            .player-wrap .home-page .recommend .recommoned-banner .info .play-btn i {
              margin-right: 5px;
              font-size: 24px; }
      .player-wrap .home-page .recommend .item-list {
        width: 100%;
        height: calc(100% - 32vw - 38px);
        overflow-y: auto;
        -webkit-app-region: no-drag;
        margin-top: 16px;
        padding-bottom: 68px; }
        .player-wrap .home-page .recommend .item-list .album-itembox {
          width: 100%;
          padding: 8px 18px;
          display: flex;
          cursor: pointer;
          -webkit-app-region: no-drag;
          transition: all 250ms ease; }
          .player-wrap .home-page .recommend .item-list .album-itembox:hover {
            background: #F0F0F0; }
          .player-wrap .home-page .recommend .item-list .album-itembox .cover {
            width: 68px;
            height: 68px; }
            .player-wrap .home-page .recommend .item-list .album-itembox .cover img {
              display: block;
              width: 100%;
              height: 100%; }
          .player-wrap .home-page .recommend .item-list .album-itembox .r {
            width: calc(100% - 68px);
            padding: 0px 0px 0px 12px;
            display: flex;
            flex-direction: column;
            justify-content: space-between; }
            .player-wrap .home-page .recommend .item-list .album-itembox .r .desc {
              font-size: 14px;
              line-height: 1.6; }
            .player-wrap .home-page .recommend .item-list .album-itembox .r .num {
              font-size: 12px;
              color: #999;
              display: flex; }
              .player-wrap .home-page .recommend .item-list .album-itembox .r .num i {
                margin-right: 4px;
                align-items: center; }
    .player-wrap .home-page .newest {
      width: 100%;
      height: 100%;
      padding: 10px 0px 18px; }
      .player-wrap .home-page .newest .newest-banner {
        width: 100%;
        height: 25vh;
        overflow: hidden;
        position: relative;
        display: none; }
        .player-wrap .home-page .newest .newest-banner .bg {
          display: block;
          width: 100%; }
      .player-wrap .home-page .newest .item-list {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        padding-bottom: 68px;
        padding-top: 10px; }
        .player-wrap .home-page .newest .item-list .song-itembox {
          width: 100%;
          padding: 8px 18px;
          display: flex;
          cursor: pointer;
          -webkit-app-region: no-drag;
          transition: all 250ms ease; }
          .player-wrap .home-page .newest .item-list .song-itembox:hover {
            background: #F0F0F0; }
          .player-wrap .home-page .newest .item-list .song-itembox .cover {
            width: 38px;
            height: 38px; }
            .player-wrap .home-page .newest .item-list .song-itembox .cover img {
              display: block;
              width: 100%;
              height: 100%; }
          .player-wrap .home-page .newest .item-list .song-itembox .info {
            width: calc(100% - 38px);
            padding: 0px 0px 0px 12px;
            display: flex;
            flex-direction: column;
            justify-content: space-between; }
            .player-wrap .home-page .newest .item-list .song-itembox .info .name {
              font-size: 14px;
              line-height: 1.6;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap; }
            .player-wrap .home-page .newest .item-list .song-itembox .info .singer {
              font-size: 12px;
              color: #999;
              display: flex; }
              .player-wrap .home-page .newest .item-list .song-itembox .info .singer i {
                margin-right: 4px;
                align-items: center; }
    .player-wrap .home-page .album {
      width: 100%;
      height: 100%;
      padding: 10px 0px 18px; }
      .player-wrap .home-page .album .item-list {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        padding-bottom: 68px;
        padding-top: 10px; }
        .player-wrap .home-page .album .item-list .album-itembox {
          width: 50%;
          padding: 8px 18px;
          height: 48vw;
          display: flex;
          flex-direction: column;
          cursor: pointer;
          -webkit-app-region: no-drag;
          transition: all 250ms ease;
          float: left; }
          .player-wrap .home-page .album .item-list .album-itembox:hover .cover:before {
            right: -24px; }
          .player-wrap .home-page .album .item-list .album-itembox .cover {
            width: 30vw;
            height: 30vw;
            position: relative; }
            .player-wrap .home-page .album .item-list .album-itembox .cover:before {
              content: '';
              display: block;
              width: 30vw;
              height: 30vw;
              background: #333;
              border-radius: 50%;
              position: absolute;
              right: -15px;
              top: 50%;
              margin-top: -15vw;
              transition: all 250ms ease-out; }
            .player-wrap .home-page .album .item-list .album-itembox .cover img {
              display: block;
              width: 100%;
              height: 100%;
              position: absolute;
              left: 0px;
              top: 0px;
              z-index: 9;
              box-shadow: 0px 2px 6px 0px rgba(73, 73, 73, 0.1);
              background: #FFF; }
          .player-wrap .home-page .album .item-list .album-itembox .info {
            width: 100%;
            padding: 10px 0px 0px; }
            .player-wrap .home-page .album .item-list .album-itembox .info .name {
              width: 100%;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              font-size: 14px;
              line-height: 1.6; }
            .player-wrap .home-page .album .item-list .album-itembox .info .singer {
              width: 100%;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              font-size: 12px;
              color: #999;
              display: flex; }
              .player-wrap .home-page .album .item-list .album-itembox .info .singer i {
                margin-right: 4px;
                align-items: center; }
    .player-wrap .home-page .mysong {
      width: 100%;
      height: 100%;
      padding: 10px 0px 18px;
      position: relative; }
      .player-wrap .home-page .mysong .mysong-empty {
        width: 100%;
        padding: 10vh 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        .player-wrap .home-page .mysong .mysong-empty .loading {
          width: 60vw; }
        .player-wrap .home-page .mysong .mysong-empty .loading-text {
          font-size: 12px;
          color: #999;
          margin-top: 8px;
          margin-bottom: 20px; }
        .player-wrap .home-page .mysong .mysong-empty .tip {
          font-size: 14px;
          font-weight: bold; }
        .player-wrap .home-page .mysong .mysong-empty .file-btn {
          padding: 10px 20px;
          background: #666;
          color: #FFF;
          font-size: 12px;
          cursor: pointer;
          -webkit-app-region: no-drag;
          margin-top: 12px; }
      .player-wrap .home-page .mysong .item-list {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        padding-bottom: 68px;
        padding-top: 10px; }
        .player-wrap .home-page .mysong .item-list .list-head {
          width: 100%;
          display: flex;
          padding: 0px 18px 20px;
          align-items: center;
          justify-content: space-between; }
          .player-wrap .home-page .mysong .item-list .list-head .label {
            font-size: 14px; }
            .player-wrap .home-page .mysong .item-list .list-head .label i {
              color: #999;
              font-size: 11px;
              margin-left: 5px; }
          .player-wrap .home-page .mysong .item-list .list-head .adddir {
            color: #666;
            margin-left: 12px;
            -webkit-app-region: no-drag;
            cursor: pointer; }
        .player-wrap .home-page .mysong .item-list .song-itembox {
          width: 100%;
          padding: 8px 18px;
          display: flex;
          cursor: pointer;
          -webkit-app-region: no-drag;
          transition: all 250ms ease; }
          .player-wrap .home-page .mysong .item-list .song-itembox:hover {
            background: #F0F0F0; }
          .player-wrap .home-page .mysong .item-list .song-itembox .cover {
            width: 38px;
            height: 38px; }
            .player-wrap .home-page .mysong .item-list .song-itembox .cover img {
              display: block;
              width: 100%;
              height: 100%; }
          .player-wrap .home-page .mysong .item-list .song-itembox .info {
            width: calc(100% - 38px);
            padding: 0px 0px 0px 12px;
            display: flex;
            flex-direction: column;
            justify-content: space-between; }
            .player-wrap .home-page .mysong .item-list .song-itembox .info .name {
              font-size: 14px;
              line-height: 1.6;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap; }
            .player-wrap .home-page .mysong .item-list .song-itembox .info .singer {
              font-size: 12px;
              color: #999;
              display: flex;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap; }
              .player-wrap .home-page .mysong .item-list .song-itembox .info .singer i {
                margin-right: 4px;
                align-items: center; }
  .player-wrap .listDetail-page {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden; }
    .player-wrap .listDetail-page .wrap {
      width: 100%;
      height: 100%;
      overflow-y: auto; }
    .player-wrap .listDetail-page .listCoverBanner {
      width: 100%;
      height: 38vh;
      position: relative; }
      .player-wrap .listDetail-page .listCoverBanner .play {
        position: absolute;
        right: 0px;
        bottom: -26px;
        width: 56px;
        height: 56px;
        background: #666;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFF;
        padding-left: 4px;
        font-size: 22px;
        cursor: pointer;
        -webkit-app-region: no-drag;
        z-index: 9; }
      .player-wrap .listDetail-page .listCoverBanner .cover {
        width: 100%;
        height: 100%;
        overflow: hidden; }
        .player-wrap .listDetail-page .listCoverBanner .cover img {
          display: block;
          width: 100%;
          transform: scale(1.2); }
    .player-wrap .listDetail-page .listInfo {
      width: 100%;
      padding: 40px 20px 30px; }
      .player-wrap .listDetail-page .listInfo .name {
        font-size: 15px;
        font-weight: bold;
        line-height: 1.6; }
      .player-wrap .listDetail-page .listInfo .desc {
        font-size: 12px;
        color: #999;
        margin-top: 12px;
        line-height: 1.6;
        max-height: 56px;
        overflow: hidden; }
    .player-wrap .listDetail-page .song-list {
      width: 100%;
      padding-bottom: 70px; }
      .player-wrap .listDetail-page .song-list .song {
        width: 100%;
        padding: 0px 0px;
        display: flex;
        -webkit-app-region: no-drag;
        position: relative; }
        .player-wrap .listDetail-page .song-list .song:before {
          content: '\e60a';
          font-family: iconfont;
          position: absolute;
          display: none;
          justify-content: center;
          align-items: center;
          right: 16px;
          top: 0px;
          height: 100%;
          color: #666;
          font-size: 26px; }
        .player-wrap .listDetail-page .song-list .song:hover {
          background: #FCFCFC; }
          .player-wrap .listDetail-page .song-list .song:hover .key {
            color: #666; }
          .player-wrap .listDetail-page .song-list .song:hover:before {
            display: flex; }
        .player-wrap .listDetail-page .song-list .song:last-child .r {
          border-bottom: none; }
        .player-wrap .listDetail-page .song-list .song .key {
          width: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #ECECEC;
          font-size: 16px;
          font-weight: bold; }
        .player-wrap .listDetail-page .song-list .song .r {
          width: calc(100% - 60px);
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          border-bottom: solid 1px #FAFAFA;
          padding: 10px 30px 10px 0px;
          cursor: pointer; }
          .player-wrap .listDetail-page .song-list .song .r .name {
            font-size: 14px;
            color: #333;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal; }
          .player-wrap .listDetail-page .song-list .song .r .singer {
            font-size: 12px;
            color: #999;
            margin-top: 4px;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal; }

.addfile-dialog {
  width: calc(100vw - 50px);
  height: calc(100vh - 35px);
  position: fixed;
  left: 25px;
  top: 10px;
  z-index: 999; }
  .addfile-dialog .mask {
    width: 100%;
    height: 100%;
    background: none; }
  .addfile-dialog .content {
    width: 72vw;
    height: 50vh;
    background: #FFF;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1); }
    .addfile-dialog .content .head {
      width: 100%;
      height: 38px;
      display: flex;
      justify-content: space-between;
      padding: 0px 0px 0px 12px;
      align-items: center; }
      .addfile-dialog .content .head label {
        color: #333;
        font-size: 12px; }
      .addfile-dialog .content .head span {
        display: flex;
        width: 38px;
        justify-content: center;
        align-items: center;
        color: #999;
        font-size: 20px;
        cursor: pointer;
        -webkit-app-region: no-drag;
        cursor: pointer; }
    .addfile-dialog .content .list {
      width: 100%;
      height: calc(100% - 38px - 50px);
      overflow-y: auto;
      -webkit-app-region: no-drag;
      padding: 0px 20px 0px 12px; }
      .addfile-dialog .content .list .row {
        width: 100%;
        display: flex;
        height: 40px;
        align-items: center;
        cursor: pointer; }
        .addfile-dialog .content .list .row .checkbox {
          width: 40px;
          height: 40px;
          color: #999;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 20px; }
        .addfile-dialog .content .list .row .checked {
          color: #666; }
        .addfile-dialog .content .list .row span {
          display: block;
          width: calc(100% - 40px);
          height: 40px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          line-height: 40px;
          color: #999;
          font-size: 12px; }
    .addfile-dialog .content .opts {
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: flex-end;
      padding: 0px 12px;
      align-items: center;
      box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.05); }
      .addfile-dialog .content .opts .btn {
        min-width: 20vw;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #e6e6e6;
        margin-left: 15px;
        font-size: 12px;
        padding: 0px 10px;
        -webkit-app-region: no-drag;
        cursor: pointer; }
      .addfile-dialog .content .opts .confirm {
        background: #666;
        color: #FFF; }

.progress-bar-root {
  display: block;
  vertical-align: middle;
  overflow: hidden;
  width: 100%;
  height: 4px;
  margin: 10px 0; }
  .progress-bar-root .progress-bar-bar {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%; }

.progress-bar-item {
  background: #666;
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translateX(-4px);
  width: 4px;
  height: 4px;
  border-radius: 4px; }

.react-uwp-progress-bar_4000-item-0 {
  animation: ProgressBar 4000ms 0ms cubic-bezier(0.25, 0.75, 0.75, 0.25) infinite normal forwards; }

.react-uwp-progress-bar_4000-item-1 {
  animation: ProgressBar 4000ms 102.4ms cubic-bezier(0.25, 0.75, 0.75, 0.25) infinite normal forwards; }

.react-uwp-progress-bar_4000-item-2 {
  animation: ProgressBar 4000ms 204.8ms cubic-bezier(0.25, 0.75, 0.75, 0.25) infinite normal forwards; }

.react-uwp-progress-bar_4000-item-3 {
  animation: ProgressBar 4000ms 307.2ms cubic-bezier(0.25, 0.75, 0.75, 0.25) infinite normal forwards; }

.react-uwp-progress-bar_4000-item-4 {
  animation: ProgressBar 4000ms 409.6ms cubic-bezier(0.25, 0.75, 0.75, 0.25) infinite normal forwards; }

@keyframes ProgressBar {
  0% {
    transform: translateX(-4px); }
  15% {
    transform: translateX(-4px); }
  85% {
    transform: translateX(calc(100vw + 4px)); }
  100% {
    transform: translateX(calc(100vw + 4px)); } }
.progress-ring-root {
  display: inline-block;
  width: 50px;
  height: 50px;
  position: relative; }

.progress-ring-item {
  background: #666;
  position: absolute;
  top: 0px;
  left: 25px;
  width: 5px;
  height: 5px;
  opacity: 0;
  transform-origin: 0px 25px;
  border-radius: 50%; }

.react-uwp-progress-ring_6_5000-item-0 {
  animation: CircleLoopFade 5000ms 0ms linear infinite normal forwards; }

.react-uwp-progress-ring_6_5000-item-1 {
  animation: CircleLoopFade 5000ms 125ms linear infinite normal forwards; }

.react-uwp-progress-ring_6_5000-item-2 {
  animation: CircleLoopFade 5000ms 250ms linear infinite normal forwards; }

.react-uwp-progress-ring_6_5000-item-3 {
  animation: CircleLoopFade 5000ms 375ms linear infinite normal forwards; }

.react-uwp-progress-ring_6_5000-item-4 {
  animation: CircleLoopFade 5000ms 500ms linear infinite normal forwards; }

.react-uwp-progress-ring_6_5000-item-5 {
  animation: CircleLoopFade 5000ms 625ms linear infinite normal forwards; }

@keyframes CircleLoopFade {
  0% {
    transform: rotateZ(0deg);
    opacity: 1; }
  12.5% {
    transform: rotateZ(180deg);
    opacity: 1; }
  25% {
    transform: rotateZ(270deg);
    opacity: 1; }
  37.5% {
    transform: rotateZ(300deg);
    opacity: 1; }
  50% {
    transform: rotateZ(360deg);
    opacity: 1; }
  62.5% {
    transform: rotateZ(540deg);
    opacity: 1; }
  75% {
    transform: rotateZ(630deg);
    opacity: 1; }
  87.5% {
    transform: rotateZ(660deg);
    opacity: 1; }
  100% {
    transform: rotateZ(720deg);
    opacity: 1; } }
.ringLoadinf-wrap {
  width: calc(100vw - 50px);
  height: calc(100vh - 35px);
  position: fixed;
  left: 25px;
  top: 10px;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center; }

.search-page {
  width: 100%;
  height: 100%; }
  .search-page .search-area {
    width: 100%;
    height: 50px;
    display: flex;
    position: relative;
    -webkit-app-region: no-drag; }
    .search-page .search-area .searchBtn {
      display: flex;
      width: 50px;
      height: 50px;
      justify-content: center;
      align-items: center;
      color: #999;
      font-size: 20px;
      cursor: pointer;
      transition: all 250ms ease;
      padding-top: 10px; }
    .search-page .search-area .clear {
      display: flex;
      width: 50px;
      height: 50px;
      justify-content: center;
      align-items: center;
      color: #999;
      font-size: 20px;
      cursor: pointer;
      transition: all 250ms ease;
      position: absolute;
      right: 6px;
      top: 0px;
      padding-top: 10px; }
    .search-page .search-area input {
      width: calc(100% - 50px - 20px);
      border: none;
      border-bottom: solid 1px #DDD;
      padding-top: 12px;
      font-size: 14px;
      outline: none;
      color: #333;
      background: none; }
      .search-page .search-area input:focus {
        border-bottom: solid 2px #333; }
    .search-page .search-area input::-webkit-input-placeholder {
      color: #EEE; }
  .search-page .search-tab {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    align-items: center;
    -webkit-app-region: no-drag;
    padding-top: 16px; }
    .search-page .search-tab .tab {
      color: #999;
      transition: all 250ms ease;
      -webkit-app-region: no-drag;
      cursor: pointer; }
      .search-page .search-tab .tab:hover {
        color: #333; }
    .search-page .search-tab .cur {
      color: #333;
      font-weight: bold; }
  .search-page .search-tab-wrapper {
    width: 100%;
    height: calc(100vh - 50px - 32px); }
    .search-page .search-tab-wrapper .swiper-wrapper {
      display: flex;
      width: 400vw;
      height: 100%; }
    .search-page .search-tab-wrapper .swiper-slide {
      width: 100vw;
      height: 100%; }
  .search-page .single-item {
    width: 100%;
    height: 100%;
    padding: 10px 0px 18px; }
    .search-page .single-item .item-list {
      width: 100%;
      height: 100%;
      overflow-y: auto;
      padding-bottom: 68px;
      padding-top: 10px; }
      .search-page .single-item .item-list .song-itembox {
        width: 100%;
        padding: 8px 18px;
        display: flex;
        cursor: pointer;
        -webkit-app-region: no-drag;
        transition: all 250ms ease; }
        .search-page .single-item .item-list .song-itembox:hover {
          background: #F0F0F0; }
        .search-page .single-item .item-list .song-itembox .cover {
          width: 38px;
          height: 38px; }
          .search-page .single-item .item-list .song-itembox .cover img {
            display: block;
            width: 100%;
            height: 100%; }
        .search-page .single-item .item-list .song-itembox .info {
          width: calc(100% - 38px);
          padding: 0px 0px 0px 12px;
          display: flex;
          flex-direction: column;
          justify-content: space-between; }
          .search-page .single-item .item-list .song-itembox .info .name {
            font-size: 14px;
            line-height: 1.6;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
          .search-page .single-item .item-list .song-itembox .info .singer {
            font-size: 12px;
            color: #999;
            display: flex; }
            .search-page .single-item .item-list .song-itembox .info .singer i {
              margin-right: 4px;
              align-items: center; }
  .search-page .singer-item {
    width: 100%;
    height: 100%;
    padding: 10px 0px 18px; }
    .search-page .singer-item .item-list {
      width: 100%;
      height: 100%;
      overflow-y: auto;
      padding-bottom: 68px;
      padding-top: 10px; }
      .search-page .singer-item .item-list .song-itembox {
        width: 100%;
        padding: 8px 18px;
        display: flex;
        cursor: pointer;
        -webkit-app-region: no-drag;
        transition: all 250ms ease; }
        .search-page .singer-item .item-list .song-itembox:hover {
          background: #F0F0F0; }
        .search-page .singer-item .item-list .song-itembox .cover {
          width: 38px;
          height: 38px; }
          .search-page .singer-item .item-list .song-itembox .cover img {
            display: block;
            width: 100%;
            height: 100%; }
        .search-page .singer-item .item-list .song-itembox .info {
          width: calc(100% - 38px);
          padding: 0px 0px 0px 12px;
          display: flex;
          flex-direction: column;
          justify-content: center; }
          .search-page .singer-item .item-list .song-itembox .info .name {
            font-size: 14px;
            line-height: 1.6;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
            .search-page .singer-item .item-list .song-itembox .info .name i {
              color: #C8C9CC;
              margin-left: 5px;
              font-size: 13px; }
  .search-page .album {
    width: 100%;
    height: 100%;
    padding: 10px 0px 18px; }
    .search-page .album .item-list {
      width: 100%;
      height: 100%;
      overflow-y: auto;
      padding-bottom: 68px;
      padding-top: 10px; }
      .search-page .album .item-list .album-itembox {
        width: 50%;
        padding: 8px 18px;
        height: 48vw;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        -webkit-app-region: no-drag;
        transition: all 250ms ease;
        float: left; }
        .search-page .album .item-list .album-itembox:hover .cover:before {
          right: -24px; }
        .search-page .album .item-list .album-itembox .cover {
          width: 30vw;
          height: 30vw;
          position: relative; }
          .search-page .album .item-list .album-itembox .cover:before {
            content: '';
            display: block;
            width: 30vw;
            height: 30vw;
            background: #333;
            border-radius: 50%;
            position: absolute;
            right: -15px;
            top: 50%;
            margin-top: -15vw;
            transition: all 250ms ease-out; }
          .search-page .album .item-list .album-itembox .cover img {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0px;
            top: 0px;
            z-index: 9;
            box-shadow: 0px 2px 6px 0px rgba(73, 73, 73, 0.1);
            background: #FFF; }
        .search-page .album .item-list .album-itembox .info {
          width: 100%;
          padding: 10px 0px 0px; }
          .search-page .album .item-list .album-itembox .info .name {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 14px;
            line-height: 1.6; }
          .search-page .album .item-list .album-itembox .info .singer {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 12px;
            color: #999;
            display: flex; }
            .search-page .album .item-list .album-itembox .info .singer i {
              margin-right: 4px;
              align-items: center; }
  .search-page .songlist {
    width: 100%;
    height: 100%;
    padding: 10px 0px 18px; }
    .search-page .songlist .item-list {
      width: 100%;
      height: 100%;
      overflow-y: auto;
      -webkit-app-region: no-drag;
      margin-top: 16px;
      padding-bottom: 68px; }
      .search-page .songlist .item-list .album-itembox {
        width: 100%;
        padding: 8px 18px;
        display: flex;
        cursor: pointer;
        -webkit-app-region: no-drag;
        transition: all 250ms ease; }
        .search-page .songlist .item-list .album-itembox:hover {
          background: #F0F0F0; }
        .search-page .songlist .item-list .album-itembox .cover {
          width: 68px;
          height: 68px; }
          .search-page .songlist .item-list .album-itembox .cover img {
            display: block;
            width: 100%;
            height: 100%; }
        .search-page .songlist .item-list .album-itembox .r {
          width: calc(100% - 68px);
          padding: 0px 0px 0px 12px;
          display: flex;
          flex-direction: column;
          justify-content: space-between; }
          .search-page .songlist .item-list .album-itembox .r .desc {
            font-size: 14px;
            line-height: 1.6; }
          .search-page .songlist .item-list .album-itembox .r .num {
            font-size: 12px;
            color: #999;
            display: flex; }
            .search-page .songlist .item-list .album-itembox .r .num i {
              margin-right: 4px;
              align-items: center; }
  .search-page .album-detail, .search-page .songlist-detail, .search-page .singerlist-detail {
    width: calc(100vw - 50px);
    height: calc(100vh - 35px);
    position: fixed;
    top: -85px;
    z-index: 998;
    background: #FFF; }

/*# sourceMappingURL=style.css.map */
